*{
  margin: 0;
}
.paper{
  height: 297mm;
  width: 420mm;
  display: flex;
  .wrap-img{
    background-image: url("../assets/Ball.jpg");
    width: 300.1px;
    height: auto;
    background-position: center;
    background-size: cover;
  }
  .calendar{
    width: 70%;
    height: auto;
    .wrap-title{
      width: 856.1px;
      //height: 115px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .year{
        width: 422.9px;
        height: 120.9px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        border: 1px solid #179461;
        span{
          font-size: 129px;
          color: #179461;
          font-family: modak;
        }
      }
      .title{
        width: 422.9px;
        height: 120.9px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        background-color: #5BBA48;
        border: 1px solid #5BBA48;
        span{
          font-size: 27px;
          color: #fff;
          font-family: raleway;
        }
      }
    }
    .parent-col{
      //margin-top: 60px;
      //margin-left: 50px;
      .col{
        border: 1px solid #111;
        display: inline-block;
        width: 235px;
        height: auto;
        margin: 10px;
        .month{
          height: 27.6px;
          background-color: #179461;
          color: #fff;
          font-family: Swis721 WGL4 BT;
          font-size: 19px;
          border-radius: 100px;
          text-align: center;
        }
        .group-dates{
          width: 100%;
          height: 152.3px;
          border: 1px solid #dd1144;
          .days{
            span{
              margin: 3px;
              font-size: 12px;
            }
          }
          .col-dates{
            border: 1px solid #179461;
          }
        }
      }
    }
  }
}