* {
  margin: 0; }

.paper {
  height: 297mm;
  width: 420mm;
  display: flex; }
  .paper .wrap-img {
    background-image: url("../assets/Ball.jpg");
    width: 300.1px;
    height: auto;
    background-position: center;
    background-size: cover; }
  .paper .calendar {
    width: 70%;
    height: auto; }
    .paper .calendar .wrap-title {
      width: 856.1px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .paper .calendar .wrap-title .year {
        width: 422.9px;
        height: 120.9px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        border: 1px solid #179461; }
        .paper .calendar .wrap-title .year span {
          font-size: 129px;
          color: #179461;
          font-family: modak; }
      .paper .calendar .wrap-title .title {
        width: 422.9px;
        height: 120.9px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        background-color: #5BBA48;
        border: 1px solid #5BBA48; }
        .paper .calendar .wrap-title .title span {
          font-size: 27px;
          color: #fff;
          font-family: raleway; }
    .paper .calendar .parent-col .col {
      border: 1px solid #111;
      display: inline-block;
      width: 235px;
      height: auto;
      margin: 10px; }
      .paper .calendar .parent-col .col .month {
        height: 27.6px;
        background-color: #179461;
        color: #fff;
        font-family: Swis721 WGL4 BT;
        font-size: 19px;
        border-radius: 100px;
        text-align: center; }
      .paper .calendar .parent-col .col .group-dates {
        width: 100%;
        height: 152.3px;
        border: 1px solid #dd1144; }
        .paper .calendar .parent-col .col .group-dates .days span {
          margin: 3px;
          font-size: 12px; }
        .paper .calendar .parent-col .col .group-dates .col-dates {
          border: 1px solid #179461; }

/*# sourceMappingURL=cal.css.map */
