* {
  box-sizing: border-box;
  margin: 0; }

.paper {
  display: flex;
  width: 420mm;
  height: 260mm;
  position: relative;
  order: 2; }
  .paper .wrap-img {
    display: block;
    width: 40mm;
    height: 296mm;
    background-image: url("../assets/Ball.jpg");
    background-position: center;
    background-size: cover;
    float: left; }
  .paper .calendar {
    width: 100mm;
    position: relative;
    left: 25px;
    float: left; }
    .paper .calendar, .paper .calendar table {
      border: 0; }
      .paper .calendar, .paper .calendar td, .paper .calendar table, .paper .calendar table td {
        text-align: center; }
    .paper .calendar .wrap-title {
      display: flex;
      justify-content: center;
      align-items: center; }
      .paper .calendar .wrap-title .year {
        width: 49.2%;
        height: 95px;
        font-family: Verdana;
        font-size: 75px;
        color: #199461;
        float: left;
        display: inline;
        border: #199461 solid 2px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        font-weight: 400; }
      .paper .calendar .wrap-title .title {
        width: 50.2%;
        height: 95px;
        background: #AAFFA9;
        background: -webkit-linear-gradient(to right, #83C342, #5BBA48);
        background: linear-gradient(to right, #83C342, #5BBA48);
        color: #fff;
        font-family: Verdana;
        font-size: 19px;
        font-weight: 100;
        text-align: left;
        float: right;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 3px; }
    .paper .calendar .month {
      width: 25%;
      vertical-align: top;
      padding: 7px; }
      .paper .calendar .month table {
        font-size: 13px;
        font-family: Verdana;
        border-collapse: collapse; }
      .paper .calendar .month .name-month {
        width: 100%;
        height: 23px;
        background-color: #199461;
        text-align: center;
        font-size: 13px;
        font-family: Arial;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        text-transform: uppercase; }
      .paper .calendar .month td {
        font-size: 11px;
        font-family: Verdana;
        border: 1px solid #C8C9CB;
        padding: 8px; }
      .paper .calendar .month .days {
        margin: 15px 10px; }
        .paper .calendar .month .days td {
          color: #666666;
          font-weight: bold; }
          .paper .calendar .month .days td .day {
            padding: 20px;
            font-size: 20px; }
      .paper .calendar .month .sat {
        color: #0000cc; }
      .paper .calendar .month .sun {
        color: #cc0000; }
    .paper .calendar .footer {
      font-family: verdana; }
      .paper .calendar .footer td {
        padding-top: 50px;
        font-size: 15px;
        color: #179461;
        text-transform: uppercase;
        font-weight: 500; }
        .paper .calendar .footer td a {
          text-decoration: none;
          color: #179461; }
      .paper .calendar .footer .artiwiz {
        font-weight: 600; }

/*# sourceMappingURL=style.css.map */
