*{
  box-sizing: border-box;
  margin: 0;
}
.paper{
  display: flex;
  width: 420mm;
  height: 260mm;
  position: relative;
  order: 2;
  .wrap-img{
    display: block;
    width: 40mm;
    height: 296mm;
    background-image: url("../assets/Ball.jpg");
    background-position: center;
    background-size: cover;
    float: left;
  }
  .calendar {
    width: 100mm;
    position: relative;
    left: 25px;
    float: left;
    &, table {
      border: 0;
      &, td {
        text-align: center;
      }
    }
    .wrap-title{
      display: flex;
      justify-content: center;
      align-items: center;
      .year{
        width: 49.2%;
        height: 95px;
        font-family: Verdana;
        font-size: 75px;
        color:#199461;
        float: left;
        display: inline;
        border: #199461 solid 2px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        font-weight: 400;
      }
      .title{
        width: 50.2%;
        height: 95px;
        background: #AAFFA9;
        background: -webkit-linear-gradient(to right, #83C342, #5BBA48);
        background: linear-gradient(to right, #83C342, #5BBA48);
        color: #fff;
        font-family: Verdana;
        font-size: 19px;
        font-weight: 100;
        text-align: left;
        float: right;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 3px;
      }
    }
    .month{
      width: 25%;
      vertical-align: top;
      padding: 7px;
      table{
        font-size:13px;
        font-family:Verdana;
        border-collapse: collapse;
      }
      .name-month{
        width: 100%;
        height: 23px;
        background-color: #199461;
        text-align: center;
        font-size:13px;
        font-family:Arial;
        color:#fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        text-transform: uppercase;
      }
      td{
        font-size: 11px;
        font-family:Verdana;
        border: 1px solid #C8C9CB;
        padding: 8px;
      }
      .days{
        margin: 15px 10px;
        td{
          color:#666666;
          font-weight: bold;
          .day{
            padding: 20px;
            font-size: 20px;
          }
        }
      }
      .sat{
        color:#0000cc;
      }
      .sun{
        color:#cc0000;
      }
      //.today{
      //  background:#ff0000;
      //  color: #ffffff;
      //}
    }
    .footer{
      font-family: verdana;
      td{
        padding-top: 50px;
        font-size: 15px;
        color: #179461;
        text-transform: uppercase;
        font-weight: 500;
        a{
          text-decoration: none;
          color: #179461;
        }
      }
      .artiwiz{
        font-weight: 600;
      }
    }
  }
}